terratowns_endpoint="https://terratowns.cloud/api"
destiny = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/destiny"
    content_version = 1
}
naruto = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/naruto"
    content_version = 1
}
